/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

/* Tailwind v4 Custom Theme */
@theme {
  --color-primary: #ee4b2b;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221310;
  
  --font-family-display: "Plus Jakarta Sans", sans-serif;
  --font-family-body: "Noto Sans", sans-serif;
}

/* Custom scrollbar hiding */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
